# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Describe the components of a Data Scientist's toolkit and list various tool categories.
- List examples of open-source tools used in data science.
- Describe the relevant features of open-source tools.
- List examples of commercial and cloud-based data science tools

Some of the popular languages that Data Scientists use are:
1. Phyton 
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupiter Notebook|
|MySQL|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
hours = 200 // 60
hours

3

## Author
Yatna Supriyatna